@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@700&display=swap');

//variables

$white: #fff;
$black: #000;
$font-p: 1.8rem;
$font-a: 1.5rem;
$font-h1: 3rem;
$font-h2: 2.4rem;
$font-h3: 2rem;
$color-grey: rgb(255, 255, 255);
$btn-color-p:#6495ed;
$background-gradien: linear-gradient(135deg, #0066ed, #00fff4) fixed;
$radiend-bg: linear-gradient(135deg, rgba(0,255,244,1) 0%, rgba(0,102,237,1) fixed);
$bg-color: #e0e0e0;
$boxShadow: 2px 2px 8px 0px rgba(0,0,0,0.5);

//

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    background: $background-gradien;
}

.primaryBox {
}

.resBox {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.textBox {
    @extend .resBox;

    p {
        font-size: $font-p;
        color: $black;
        padding: 0 15px 5px 15px;
    }
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
    color: $color-grey;
}

button {
    border: none;
    border-radius: 2px;
    padding: .7em 1.5em;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}

.btnPrimary {
    @extend button;
    color: $white;
    background-color: $btn-color-p;
}

.btnList {
    @extend button;
    background-color: $color-grey;
}

@mixin box-flex($primario, $aline, $wrap) {
    display: flex;
    justify-content: $primario;
    align-items: $aline;
    flex-wrap: $wrap;
}

.styleForm {
    flex: 1 0 auto;
    background-color: $bg-color;
    border-radius: 8px;
    box-shadow: $boxShadow;
    padding: 1em 2em;
    max-width: 400px;
    overflow: hidden;
}

.boxItems {
    @extend .styleForm;
    margin-bottom: 20px;
}