@use 'global';

@mixin box-flex($primario, $aline, $wrap) {
    display: flex;
    justify-content: $primario;
    align-items: $aline;
    flex-wrap: $wrap;
}

@mixin box-grid($primary, $aline, $size) {
    display: grid;
}

li {
    top: 0;
    border-top: 30px;
}

h2 {
    color: #000;
    margin: 0;
    padding-bottom: .75em;
    width: 200px;
}

.styleForm {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;

    ul {
        padding: 0;
    }

    li:not(:last-child) {
        margin-bottom: 15px;

        input {
            box-sizing: border-box;
            width: 100%;
            border-radius: 4px;
            outline: none;
            border: 1px solid #ebecee;
            padding: 10px;
            margin: 5px 0;
        }
    }
}

.boxItems {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;

    .listItems {
        margin: 0 5% 0 5%;
        text-align: center;

        li {
            width: 100%;
            display: inline-block;
            font-size:medium;
            font-weight: bold;
            background-color: white;
            border-radius: 4px;
            padding: 0.7em 1em 0.7em 1em;
            margin-bottom: 10px;
            cursor: pointer;
        }

        li:hover {
            background-color: #6495ed;
        }
    }
}

p {
    margin-bottom: 15px;
    font-weight: bold;
}
